.image_type_avatar {
    border-radius: 50%;
    margin: 0 auto;
    max-width: 30%;
    display: block;
    box-shadow: 0 0 5px #00bfff;
}

@media (orientation: landscape) {
    .image_type_avatar {
        max-width: 10%;
    }
}
