.login__input
{
    margin-bottom: 2%;
	width: 100%;
	display: block;
}

.login__input_has-error .input.input__control
{
    border: 1px solid #a94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
