.button_type_image-text {
    background-color: #fff;
    padding: 0;
    width: 25%;
    height: 50px;
    outline: none;
    border: none;
    -webkit-user-select: none;
}

.button_type_image-text .button__text {
    font-size: 12px;
    text-align: center;
    vertical-align: bottom;
    display: block;
}

.button_type_image-text:active {
    opacity: 0.5;
}
