.compose-menu__left
{
    float: left;
}

.compose-menu__left .button span.icon {
    width: 17px;
    height: 17px;
    background-size: cover;
    opacity: 0.5;
    margin: 7px;
}

.compose-menu__left .icon_photo {
    background-image: url('../img/photo-camera.svg');
}

.compose-menu__left .icon_geo {
    background-image: url('../img/location-pointer.svg');
}

.compose-menu__left .icon_url {
    background-image: url('../img/world.svg');
}
