.compose-menu__left
{
    float: left;
}

.compose-menu__left .icon {
    width: 15px;
    height: 15px;
    background-size: cover;
    opacity: 0.5;
    margin: 5px;
}

.compose-menu__left .icon_photo {
    background-image: url('../img/photo-camera.svg');
}

.compose-menu__left .icon_geo {
    background-image: url('../img/location-pointer.svg');
}

.compose-menu__left .icon_link {
    background-image: url('../img/world.svg');
}
