@import "../../libs/jquery-tag-editor/jquery.tag-editor.css";

.interest-block .tag-editor {
    margin: 5px 3px;
}

.interest-block__title {
    margin: 1em 2em;
}

.interest-block .button_type_submit {
    margin: 10px 10px;
}
