.user-info__edit {
    padding: 5px;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}

.user-info__edit .text {
    font-size: 16px;
}

.user-info__edit .textarea_theme_islands {
    border-top: 1px solid #d6d6d6;
    width: 100%;
    resize: none;
    margin-top: 5px;
}

.user-info__edit .textarea_theme_islands.textarea_focused {
    border-color: #00bfff;
    box-shadow: none;
}
