.compose-menu {
    margin-top: 5px;
    border-top: 1px solid #00bfff;
    overflow: hidden;
}

.compose-modal .dropzone {
	padding: 5px;
	min-width: 207px;
	min-height: 207px;
	display: inline-block;
}

.compose-modal .dropzone .dz-preview {
	margin: 2px;
}

.compose-modal .dropzone .dz-preview .dz-image {
	width: auto;
	height: auto;
}