.profile__button {
    background-color: #fe427c;
    width: 33.32%;
    height: 50px;
    font-size: 23px;
    border-radius: 0;
}

.profile__button.button_pressed{
    background-color: #324065;
    border: none;
}

.profile__button.button_like .icon_like {
    background-image: url("img/like.svg");
}

.profile__button.button_pep .icon_pep {
    background-image: url("img/pep.svg");
}

.profile__button.button_picture .icon_picture {
    background-image: url("img/picture.svg");
}
