.social-buttons__icon
{
    height: 1.2em;
    width: 1.2em;
    background-size: cover;
    float: left;

}

.button_social_facebook .social-buttons__icon
{
    background-image: url("fb.png");
    background-size: cover;
}

.button_social_vk .social-buttons__icon
{
    background-image: url("vk.png");
    background-size: cover;
}
