.tweet-item__controls .icon_reply {
    background-image: url('img/comment.svg');
}

.tweet-item__controls .icon_like {
    background-image: url('img/like-outline.svg');
}

.tweet-item__controls .icon_delete {
    background-image: url('img/times.svg');
}

.tweet-item__controls .button_pinned .icon_like {
    background-image: url('img/like-outline-red.svg');
}

.tweet-item__controls .icon_retweet {
    background-image: url('img/retweet.svg');
}

.tweet-item__controls .button_pinned .icon_retweet {
    background-image: url('img/retweet-green.svg');
}

.tweet-item__controls .icon {
    background-size: cover;
    margin: 3px;
}
