.button_theme_islands {
    background: none;
}

.button_theme_islands:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.button_theme_islands.button_focused,
.button_theme_islands.button_focused-hard,
.button_theme_islands.button_checked,
.button_theme_islands.button_checked:before,
.button_theme_islands.button_checked.button_pressed:before {
    background: #00bfff;
    box-shadow: 0 0 0 1px #00bfff;
}
