.tweet{
    height: auto;
    display: inline-block;
    min-width: 100%;
    border-bottom: 1px solid #d6d6d6;
}

.tweet__right{
    float: right;
    max-width: 82%;
    padding: 10px 5px;
}


.tweet__left {
    float: left;
    min-width: 18%;
}

.tweet .button{
    opacity: 0.5;
    background-color: #fff;
}

.tweet .button_focused,
.tweet .button_focused-hard,
.tweet .button_focused .icon{
    opacity: 1;
}
