.tweet{
    height: auto;
    display: inline-block;
    min-width: 100%;
}

.tweet__left {
    float: left;
    box-sizing: border-box;
}

.tweet .button{
    opacity: 0.5;
    background-color: #fff;
}

.tweet .button_focused,
.tweet .button_focused-hard,
.tweet .button_focused .icon{
    opacity: 1;
}
