.tweet__right {
    float: right;
    box-sizing: border-box;
    font-size: 12px;
    padding: 5px 10px;
    width: 82%;
}

.tweet__right .icon {
    width: 15px;
    height: 15px;
    background-size: cover;
    opacity: 0.5;
    margin-right: 5px;
}

.tweet__right .link.link_focused {
    outline: none;
}

@media (orientation: landscape) {
    .tweet__right .link_plaintext {
        font-size: 10px;
    }
}