.tweet__right {
    width: 100%;
    font-size: 12px;
    box-sizing: border-box;
    padding: 0 5px;
}

.tweet__right .text_time {
    float: right;
    color: #d6d6d6;
}

.tweet__right .text_main {
    display: block;
    word-wrap: break-word;
    margin: 5px 0;
}

.tweet__right .icon {
    width: 15px;
    height: 15px;
    background-size: cover;
    opacity: 0.5;
    margin-right: 5px;
}

.tweet__right .button{
    padding: 0;
    margin-right: 10px;
}

.tweet__right .tweet__like.button_type_error {
    color: red;
}

.tweet__right .button_type_good {
    color: #00bfff;
}

.tweet__right .button .icon_reply {
    background-image: url('../img/arrow.svg');
}

.tweet__right .button .icon_like {
    background-image: url('../img/like.svg');
}

.tweet__right .button .icon_repost {
    background-image: url('../img/repost.svg');
}

.tweet__right .button_type_good .icon_like {
    background-image: url('../img/like-good.svg');
}

.tweet__right .button_type_error .icon_like {
    background-image: url('../img/like-red.svg');
}
