.tweet__right {
    width: 100%;
    font-size: 12px;
    box-sizing: border-box;
    padding: 0 5px;
}

.tweet__right .text_time {
    float: right;
    color: #d6d6d6;
}

.tweet__right .text_main {
    display: block;
    word-wrap: break-word;
    margin: 5px 0;
}

.tweet__right .icon {
    width: 15px;
    height: 15px;
    background-size: cover;
    opacity: 0.5;
    margin-right: 5px;
}
