.about-user .text {
    display: block;
}

.about-user .text_about {
    padding: 10px 5px;
    font-size: smaller;
}

@media (orientation: landscape) {
    .about-user .text_username,
    .about-user .text_id {
        font-size: 8px;
    }
}
