.about-user .text {
    display: block;
}

.about-user .text_username {
    color: #fff;
}

.about-user .text_id {
    color: #c0c0c0;
}

.about-user .text_about {
    color: #63739b;
    padding: 10px 5px;
    font-size: smaller;
}

@media (orientation: landscape) {
    .about-user .text_username,
    .about-user .text_id {
        font-size: 8px;
    }
}
