.auth__header{
    width: 100%;
    height: 50px;
    background-color: #000;
}

/*csslint universal-selector: false*/
.auth__header .link > *{
    display: inline-block;
}
/*csslint universal-selector: true*/

.auth__header .image{
    width: 25px;
    height: 25px;
    margin: 10px;
}

.auth__header .text{
    color: #fff;
    font-size: 20px;
    vertical-align: top;
    margin: 15px 10px;
}
