.tweet__body {
    width: 100%;
    font-size: 12px;
    box-sizing: border-box;
    padding: 0 5px;
}

.tweet__body .text_time {
    float: right;
}

.tweet__body .text_time,
.tweet__body .text_id {
    color: #d6d6d6;
}

.tweet__body .text_username {
    font-weight: bold;
    margin-right: 5px;
}
