.button {
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
    border: none;
}

.button .icon {
    background-size: cover;
    padding: 0;
}
