.tweet__left {
    float: left;
    box-sizing: border-box;
    padding: 5px;
    width: 18%;
    border-radius: 50%;
}

.tweet__left .image_type_avatar {
    width: 45px;
    height: 45px;
    margin-top: 5px;
}

@media (min-width: 400px) {
    .tweet__left .image_type_avatar {
        width: 55px;
        height: 55px;
    }
}