.top-menu {
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    box-shadow: 0 8px 7px -7px rgba(204, 204, 204, 1);
}

.top-menu .button {
    width: 10%;
    min-width: 50px;
}

.top-menu .button_theme_islands.button_focused,
.top-menu .button_theme_islands.button_focused-hard,
.top-menu .button_theme_islands.button_checked,
.top-menu .button_theme_islands.button_checked:before,
.top-menu .button_theme_islands.button_checked.button_pressed:before {
    background: #fff;
    box-shadow: none;
}
