.top-menu {
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 8px 7px -7px rgba(204, 204, 204, 1);
}

.top-menu .input.input_theme_islands{
    width: 60%;
    min-width: 100px;
    margin: 0 10px;
    display: inline-block;
}

.top-menu .input_theme_islands:before {
    border-radius: 4px;
}

.top-menu .input_theme_islands.input_disabled {
    display: none;
    transition: display 1s;
}

.top-menu .button {
    width: 10%;
    min-width: 50px;
}

.top-menu__search-button {
    float: right;
}

.top-menu__back-button .icon {
    background-image: url('img/back-button.svg');
}

.top-menu__search-button .icon {
    background-image: url('img/search-button.svg');
}
