.top-menu {
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 8px 7px -7px rgba(204, 204, 204, 1);
}

.top-menu .input{
    opacity: 0;
    transition: opacity 0.5s;
}

.top-menu_onsearch .input{
    margin: 0 10px;
    opacity: 1;
}

.top-menu__back-button .icon {
    background-image: url('back-button.svg');
}

.top-menu__search-button .icon {
    background-image: url('search-button.svg');
}

.top-menu__tweet-button .icon {
    background-image: url('tweet-button.svg');
}
