.tweet-attachment .image
{
	border: 1px solid #ddd;
	border-radius: 10px;
	max-width: 500px;
	max-height: 500px;
}

.tweet-attachment .link.header {
	display: block;
	margin-left: 1em;
}

.tweet-attachment .progress
{
	border: 1px solid #ddd;
	border-radius: 10px;
	width: 110px;
	height: 110px;
	margin-bottom: 5em;
}

.tweet-attachment .progress .title {
	position: relative;
	width: 100%;
	z-index: 15;
	text-align: center;
	margin-top: 2em;
}


@keyframes loading {
  0% {
    transform-origin: 100% 100%;
    transform: rotate(0deg);
  }
  100% {
    transform-origin: 100% 100%;
    transform: rotate(360deg);
  }
}

.tweet-attachment .progress * {
	box-sizing: border-box;
}

.tweet-attachment .progress .loading {
  position: relative;
  display: block;
  z-index: 13;
  margin: 5px 5px;
  width: 100px;
  height: 100px;
  border: 5px solid transparent;
  border-radius: 50%;
  background-color: transparent;
}

.tweet-attachment .progress .loading:hover {
  border-color: rgba(210, 210, 210, 0.5);
}

.tweet-attachment .progress .loading:hover:before {
  background-color: rgba(210, 210, 210, 0.4);
}

.tweet-attachment .progress .loading:before {
  position: absolute;
  display: block;
  content: '';
  z-index: 12;
  top: 4px;
  left: 4px;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #fff;
}
.tweet-attachment .progress .loading:after {
  position: absolute;
  display: block;
  content: '';
  z-index: 11;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  border-radius: 200px 0 0 0;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, #459ad7 50%, #459ad7 100%);
  animation: loading .9s linear infinite;
}
