.tweet.tweet_comment{
    border-top: 1px solid #00bfff;
    margin-top: 10px;
}

.tweet.tweet_comment .tweet__left {
    max-width: 25%;
    padding: 5px 0;
}

.tweet.tweet_comment .tweet__right {
    max-width: 75%;
}
