.profile__to-edit {
    background-color: inherit;
    border: none;
    font-size: 35px;
}

.profile__to-edit .icon_profile_back {
    background-image: url("img/right-arrow.svg");
}

.profile__to-edit.button_theme_simple.button_pressed .icon_profile_back {
    background-image: url("img/right-arrow-active.svg");
}

.profile__to-edit.button_theme_simple.button_pressed {
    border: none;
    box-shadow: none;
    background: inherit;
}

@media (orientation: landscape) {
    .profile__to-edit {
        font-size: 25px;
    }
}
