.bottom-menu_homescreen .icon_home {
    background-image: url('../img/home.svg');
}

.bottom-menu_homescreen .icon_account {
    background-image: url('../img/account.svg');
}

.bottom-menu_homescreen .icon_bell {
    background-image: url('../img/bell.svg');
}

.bottom-menu_homescreen .icon_message {
    background-image: url('../img/message.svg');
}
