.bottom-menu_homescreen .icon_home {
    background-image: url('../img/home.svg');
}

.bottom-menu_homescreen .icon_account {
    background-image: url('../img/account.svg');
}

.bottom-menu_homescreen .icon_search {
    background-image: url('../img/search-button.svg');
}

.bottom-menu_homescreen .icon_tweet {
    background-image: url('../img/plus.svg');
}
