.profile-edit
{
	width: 100%;
    padding: 1em 2em;
    box-sizing: border-box;
}

.profile-edit .dropzone {
	padding: 5px;
	height: auto;
	min-width: 407px;
	min-height: 407px;
	display: inline-block;
	transition: all 0.2s;
}

.profile-edit .dropzone .dz-preview {
	margin: 2px;
}

.profile-edit .dropzone .dz-preview .dz-image {
	width: auto;
	height: auto;
}