

.radio-group_role_tweets-variants-control {
	text-align: center;
	width: 100%;
}

.profile__tweetSample .radio-group_role_tweets-variants-control label {
	display: inline;
}
.profile__tweetSample .radio-group_role_tweets-variants-control .button {
    width: 25%;
}

.profile__tabsContainer {
    padding: 1em;
}

.profile__tabsContainer .tweet-feed {
	display: none;
}

.profile__tabsContainer_type_last .tweet-feed_role_tweet-feed-last, 
.profile__tabsContainer_type_pics .tweet-feed_role_tweet-feed-pics,
.profile__tabsContainer_type_liked .tweet-feed_role_tweet-feed-liked,
.profile__tabsContainer_type_near .tweet-feed_role_tweet-feed-near {
	display: block;
}