.button_homescreen {
    background-color: #fff;
    padding: 0;
    height: 50px;
}

.button_homescreen .button__text {
    font-size: 12px;
    text-align: center;
    display: block;
}

.button_homescreen:active {
    opacity: 0.7;
}

.button_homescreen .icon {
    height: 25px;
    width: 25px;
}
