.bottom-menu{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 -7px 6px -6px rgba(204, 204, 204, 1);
}

.bottom-menu .radio-group_theme_islands .button{
    width: 25%;
}

.bottom-menu .radio-group_theme_islands .button__text{
    margin: 0;
}

.bottom-menu .radio-group_theme_islands .button .icon{
    display:  block;
    margin: 0 auto;
}
