.top-menu__search {
    float: right;
}

.top-menu__search .icon {
    background-image: url('../img/search-button.svg');
}

.top-menu__search.button_focused .icon {
    background-image: url('../img/search-active.svg');
}
